* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/* Body and background styles */
body {
  background: linear-gradient(90deg, #1574b3 0%, #6bbacc 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #767373; /* Improved text readability */
}

/* Container styles */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  overflow: hidden;
}

.screen {
  background: linear-gradient(90deg, #3986c5, #6965d1ce);
  position: relative;
  height: 100vh; /* Updated to cover full height */
  width: 1000px;
  padding: 20px;
  border-radius: 16px;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #4CAF50 #78b8b3;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container {
  display: flex;
  margin: 5%;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Updated to cover full height */
  overflow: hidden;
}

.screen::before {
  content: '';
  position: absolute;
  top: -8px; /* Adjust this value as needed */
  left: -8px; /* Adjust this value as needed */
  right: -8px; /* Adjust this value as needed */
  bottom: -8px; /* Adjust this value as needed */
  background: linear-gradient(45deg, rgba(0,0,0,0.1), rgba(255,255,255,0.05)); /* Add a gradient for 3D look */
  border-radius: 24px; /* Adjusted for a more pronounced 3D effect */
  z-index: -1; /* Push behind the screen content */
}

/* Scrollbar styles */
.screen::-webkit-scrollbar {
  width: 10px;
}

.screen::-webkit-scrollbar-thumb {
  background-color: #85e7dd00;
  border-radius: 10px;
}

.screen::-webkit-scrollbar-track {
  background-color: #78b8b3;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #dae1d3; 
}

h1::after {
  content: "";
  display: block;
  height: 2px;
  width: 60%;
  position: absolute;
  bottom: -5px;
}

.fade-line {
  height: 2px;
  background: linear-gradient(to right, #f0eaea, rgba(84, 22, 22, 0));
  margin: 20px 0;
  position: relative;
}


@keyframes fade {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      right: 100%;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0%;
  margin-bottom: 2%;
}

.row_new {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.st_Roll {
  flex: 1; /* Take up remaining space */
}

.en_Roll {
  flex: 1; /* Take up remaining space */
  text-align: right; /* Align text to the right */
}

.username {
  margin-left: 20px;
}


.pdf-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #9fea43; 
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.pdf-btn:hover {
  background-color: #0056b3; 
}

.timetable-btn {
  border: none;
  border-radius: 20px;
  background-color: #85e7dd;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.timetable-btn:hover{
  background-color:#4895ed ;
}

.button-text-bold {
  font-weight: bold;
  font-size: 20px;
}



button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.submit {
  width: 12rem;
  height: auto;
  margin-top: 20px; 
  margin-right: 20px;
  
}
button.submit .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #08173f;
  border-radius: 1.625rem;
}
button.submit .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.submit .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.submit .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.submit .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  color: #eaeaef;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}


#container-button {
  text-align: right;
  margin-top: 20px; 
  margin-right: 20px; 
}

.time-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.current-time {
  margin-left: 20px;
}

.logout-btn {
  border: none;
  border-radius: 20px;
  background-color: #ff7f7f;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}
.current-time {
  font-size: 20px;
  color: #fff;
}

.current-time span {
  display: inline-block;
  min-width: 1ch;
  text-align: center;
}

.animating {
  animation: fillIn 0.15s forwards;
}

@keyframes fillIn {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

select ,input {
  width: 370px;
  height: 55px;
  margin: 10px auto 10px;
  border-radius: 8px;
  font-weight: 550;
  background: #f0f0f0; 
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.wrapper{
  width: 370px;
  margin: 10px auto 15px;
}
.select-btn, li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btn{
  height: 65px;
  padding: 0 20px;
  font-size: 22px;
  background: #fff;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btn i{
  font-size: 31px;
  transition: transform 0.3s linear;
}
.wrapper.active .select-btn i{
  transform: rotate(-180deg);
}
.content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  padding: 05px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.wrapper.active .content {
  display: block;
}

.wrapper {
  position: relative; /* Ensure relative positioning for absolute children */
}


.content .search{
  position: relative;
}
.search i{
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search input{
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #B3B3B3;
}
.search input:focus{
  padding-left: 42px;
  border: 2px solid #4285f4;
}
.search input::placeholder{
  color: #bfbfbf;
}
.content .options{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar{
  width: 7px;
}
.options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.options li{
  height: 50px;
  padding: 0 13px;
  font-size: 21px;
}
.options li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}